@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* Variables */
:root {
  --principal: #12bdff;
  --principal-hover: #0c8ec2;
  --oscuro-principal: #1b1f24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--oscuro-principal);
  padding: 25px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

header .logo {
  color: var(--principal);
  margin-right: 130px;
  font-weight: 600;
  letter-spacing: 6px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 30px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

header ul li a:hover {
  color: var(--principal);
  transition: all 0.3s ease 0s;
}

/* Home */
section.home-section {
  background-color: var(--oscuro-principal);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 100px 120px 50px 200px;
}

.home-section-title {
  font-size: 48px;
}

.home-section-title span {
  color: var(--principal);
}

.home-section-desc {
  color: #c4c4c4;
}

.iconos-redes {
  margin: 18px 0;
  list-style: none;
  display: flex;
}

.iconos-redes li {
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid var(--principal);
  padding: 8px 12px;
}

.iconos-redes li:hover {
  background-color: var(--principal);
  transition: all 0.3s ease 0s;
}

.iconos-redes li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.botones-home button {
  margin-right: 10px;
}

.botones-home a {
  text-decoration: none;
  color: #fff;
}

/* Botones */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn.btn-principal {
  background-color: var(--principal);
  color: var(--oscuro-principal);
  font-weight: 600;
}

.btn.btn-principal:hover {
  background-color: var(--principal-hover);
  transition: all 0.3s ease 0s;
}

.btn-oscuro {
  background-color: var(--oscuro-principal);
  border: 1px solid var(--principal);
  color: var(--principal);
  border-radius: 5px;
  font-weight: 600;
}

.btn-oscuro:hover {
  cursor: pointer;
  background-color: var(--principal);
  color: #fff !important;
  transition: all 0.3s ease 0s;
}

/* Sobre-mi */
section.sobre-mi-section {
  background-color: #22282f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.sobre-mi-img img {
  width: 250px;
  height: 250px;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid var(--principal);
  box-shadow: 3px 5px 30px #03506e;
  object-fit: cover;
}

.sobre-mi-contenido {
  margin-left: 100px;
  max-width: 600px;
}

.sobre-mi-contenido h2 {
  font-size: 33px;
}

.sobre-mi-contenido h2 span {
  color: var(--principal);
}

.sobre-mi-contenido p {
  color: #c4c4c4;
  font-size: 15px;
}

.sobre-mi-contenido button {
  margin-top: 30px;
  font-size: 15px;
}

.sobre-mi-contenido button a {
  text-decoration: none;
  color: var(--oscuro-principal);
}



/* Proyectos */
section.proyectos-section {
  background-color: var(--oscuro-principal);
  color: #fff;
  padding: 50px 120px;
}

.proyectos-section h2 {
  font-size: 28px;
  text-align: center;
}

.proyectos-section h2 span {
  color: var(--principal);
}

.proyectos-cards {
  display: flex;
}

.proyectos-card-box {
  width: 33.33%;
  margin: 35px 10px;
  padding: 33px;
  background-color: #22282f;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}

.proyectos-card-box:hover {
  box-shadow: 3px 5px 20px #03506e;
  transition: all 0.5s ease 0s;
  transform: translateY(-20px);
}

.proyectos-card-box-icons i {
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid var(--principal);
  padding: 20px;
}

.proyectos-card-box:hover .proyectos-card-box-icons i {
  color: var(--principal);
  background-color: var(--oscuro-principal);
  transition: all 0.5s ease 0s;
}

.proyectos-card-box-desc h4 {
  font-size: 18px;
  margin: 18px 0 10px 0;
}

.proyectos-card-box-desc p {
  font-size: 14px;
  color: #c4c4c4;
}

.proyectos-card-box-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyectos-card-box-buttons button {
  background-color: #22282f;
}

.proyectos-card-box-buttons button a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}


/* Contacto */


/* Footer */
footer {
  background-color: var(--oscuro-principal);
  color: gray;
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
}

footer a {
  text-decoration: none;
  color: var(--principal);
}


/* Media queries */
@media only screen and (max-width: 768px) {

  /* Header */
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header .logo {
    margin: auto;
  }

  header ul {
    margin-top: 10px;
  }

  /* Home */
  section.home-section {
    flex-direction: column;
    padding: 40px;
    padding-top: 130px;
  }


  /* Sobre-mi */
  section.sobre-mi-section {
    flex-direction: column;
    padding: 40px;
  }

  .sobre-mi-contenido {
    margin-left: 0;
    margin-top: 30px;
  }

  /* Proyectos */
  section.proyectos-section {
    padding: 40px;
  }

  .proyectos-cards {
    margin-top: 15px;
    flex-direction: column;
  }

  .proyectos-card-box {
    width: 100%;
    margin: 10px 0;
  }

  /* Contacto */

}